<div class="container-fluid">
    <div class="row">
       <div class="jumbotron jumbotron-fluid col-md-12">
           <div class="container">
                <h1 class="display-4">Fitness Trainer</h1>
                <p>Fitness trainers and instructors lead, instruct, and motivate individuals or groups in exercise activities,Including cardiovascular exercise </p>
                <p>(exercises for the heart and blood system),strength training,and stretching. They work with people of all ages and skill levels.</p>
                <h1>Duties</h1>
                <p>Demonstrate how to carry out various exercises and routines</p>
                <p>Monitor clients’ progress and adapt programs as needed</p>
            </div>
        </div>
    </div>
    <div class="row">   
       <div class="col-md-12">
           <button type="button" class="btn btn-primary col-md-12" (click)="Onclick()">
            <a [routerLink]="['/placeappointment']"></a>
            <h1>Apply</h1><br/> <h1>For</h1><br/><h1>Trainer</h1></button>
       </div>
   </div> 
</div>
      
       
   