/* div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    }
    .box{
        display:block;
        width: 100%;
        border:none;
        background-color:grey;
        color:white;
        padding: 14px 28px;
        border-radius: 22px;
        } */